
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
body{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}
.cabecalho{
    position: relative;
    background: #FFC107;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    height: 117px;
    width: 100vw;;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;  
}
#img-banner {
    height: 84px;
    width: 324px;
    object-fit: contain;
    
}
/* A ornenação dos elementos impede o aparecimento da sombra*/
.navbar{  
    position: relative;
    z-index: -1;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFA000; 
    height: 48px;
    width: 100vw;  
}
.navLinks{  
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.navItem{
    padding: 0 29px;
}
.container-receitas-afeto{
    position: relative;
    
}
#receitas-afeto, #comer-viver{
    max-width: 100vw;
}
.title-receitas-afeto{
    position: absolute;
    top: 26%;
    right: 7%;
    max-width: 30vw;
    font-size: 5vw;
    height: auto;
    padding: 0;
    font-weight: 700;
    color: white;
    text-shadow: 0.28vw 0.28vw 0 rgba(0, 0, 0, 0.36);
}

.items-receita-da-semana{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 83px;
}
.recipe-receita-da-semana p{
    
    font-weight: 700;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}


.title-receita-da-semana{
    color: rgba(255, 160, 0, 1);
    
    max-width: 100vw;
    height: auto;
    font-size: 4vw;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    margin: 5.2vw auto;
    text-align: center;
}
.recipe-receita-da-semana{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;   
}

.recipe-receita-da-semana a{
    margin: 3% 43px 116px 43px;   
    color: white;    
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(23, 105, 2, 1);
    text-align: center;
    border: 1px solid;
    padding: 5px 25px;
    border-radius: 5px;
}

#image-receita-da-semana{
    object-fit: cover;
    max-width: 100vw;
    max-height: 100vw;
    width: 345px;
    height: 342px;
}


.container-comer-viver{
    position: relative;
    margin-top: 11vw;
    height: 53.7vw;
}
#comer-viver{
    position: absolute;
    top: 0;    
    left: 0;
    z-index: -1;
}
.title-comer-viver{
    position: absolute;
    top: 11vw;
    left: 8.5vw;
    max-width: 40vw;
    font-size: 4.5vw;
    height: auto;
    padding: 0;
    
    font-weight: 700;
    color: white;
    text-shadow: 0.28vw 0.28vw 0 rgba(0, 0, 0, 0.36);

}
.text-comer-viver{
    position: absolute;
    top: 23vw;
    left: 8.5vw;
    max-width: 29.4vw;
    width: 424px;
    font-size: 1.667vw;
    height: auto;
    padding: 0;
    
    font-weight: 500;
    color: white;
}
.text-comer-viver br{
    display: block;
    content: " ";
    margin: 2vw 0;
}

footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    background-color: #FFC107;
    margin: 0;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-transform: lowercase;
    color: white;
}


/*PAGE 2- RECEITAS*/

.titulo-page-2 {
    
    position: relative;
    width: 440px;
    height: 61px;
    margin: 104px 0 69px 122px;
   
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 61px;
    text-transform: lowercase;
    color: #FFA000;
}
.container-page-2{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* PAGE 4- CONTATO */

.section-contato{
    margin: 102px 128px 133px 127px;
    display: flex;
    justify-content: space-evenly;
}

.box-contato{
    width: 53vw;
    height:57vw;
    border: 1px solid #FFA000;
    border-radius: 20px;
}
.box-contato textarea{
    width: 52vw;
    height: auto;
}